In [1]:
from __future__ import print_function

import os
import zipfile as zf #learned from StackOverflow
import pandas as pd
import numpy as np
import pylab as pl
%pylab inline
import seaborn

Populating the interactive namespace from numpy and matplotlib

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
os.environ["PUIDATA"] = "/home/cusp/xz694/PUIDATA"

In [3]:
os.getenv("PUIDATA")

'/home/cusp/xz694/PUIDATA'

In [4]:
zippedData = zf.ZipFile(os.getenv("PUIDATA") + "/201506-citibike-tripdata.zip")

In [5]:
zippedData.extractall() #learned from StackOverflow

In [6]:
!mv "201506-citibike-tripdata.csv" "$PUIDATA" #says "permission denied" but still moved the file.

mv: setting attribute `security.selinux' for `security.selinux': Permission denied

In [7]:
df1 = pd.read_csv(os.getenv("PUIDATA") + "/201506-citibike-tripdata.csv")

In [8]:
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1338,6/1/2015 0:00,6/1/2015 0:22,128,MacDougal St & Prince St,40.727103,-74.002971,2021,W 45 St & 8 Ave,40.759291,-73.988597,20721,Subscriber,1984.0,1
1,290,6/1/2015 0:00,6/1/2015 0:05,438,St Marks Pl & 1 Ave,40.727791,-73.985649,312,Allen St & E Houston St,40.722055,-73.989111,21606,Subscriber,1997.0,1
2,634,6/1/2015 0:01,6/1/2015 0:11,383,Greenwich Ave & Charles St,40.735238,-74.000271,388,W 26 St & 10 Ave,40.749718,-74.002950,16595,Subscriber,1993.0,1
3,159,6/1/2015 0:01,6/1/2015 0:04,361,Allen St & Hester St,40.716059,-73.991908,531,Forsyth St & Broome St,40.718939,-73.992663,16949,Subscriber,1981.0,1
4,1233,6/1/2015 0:02,6/1/2015 0:22,382,University Pl & E 14 St,40.734927,-73.992005,532,S 5 Pl & S 4 St,40.710451,-73.960876,17028,Customer,NaN,0

## IDEA: Subcriber riders make longer bike trips.
### Null Hypothesis H<sub>0</sub> and Alternative Hypothesis H<sub>a</sub>--
#### H<sub>0</sub>: The average trip duration of a subscriber is the same as or shorter than that of a regular customer. i.e., Tavg_sub <= Tavg_cust
#### H<sub>a</sub>: The average trip duration of a subscriber is longer than that of a regular customer. i.e., Tavg_sub > Tavg_cust
### Significance level: $\alpha$ = 0.05

In [9]:
df1.columns

Index([u'tripduration', u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid',
       u'usertype', u'birth year', u'gender'],
      dtype='object')

In [10]:
dfUserTrip = df1.drop([u'starttime', u'stoptime', u'start station id',
       u'start station name', u'start station latitude',
       u'start station longitude', u'end station id', u'end station name',
       u'end station latitude', u'end station longitude', u'bikeid', 
       u'birth year', u'gender'], axis = 1)

In [11]:
dfUserTrip

        tripduration    usertype
0               1338  Subscriber
1                290  Subscriber
2                634  Subscriber
3                159  Subscriber
4               1233    Customer
5                690  Subscriber
6                766  Subscriber
7               1160  Subscriber
8                550  Subscriber
9                545  Subscriber
10               752  Subscriber
11              1743  Subscriber
12               964  Subscriber
13               207  Subscriber
14               511  Subscriber
15               635  Subscriber
16               131  Subscriber
17               338  Subscriber
18               923  Subscriber
19               741  Subscriber
20               297  Subscriber
21               430  Subscriber
22              1061  Subscriber
23               643  Subscriber
24               158  Subscriber
25               160    Customer
26              1108  Subscriber
27               845  Subscriber
28               299  Subscriber
29               363  Subscriber
...              ...         ...
941189          1887  Subscriber
941190           376  Subscriber
941191           379  Subscriber
941192           710    Customer
941193          1954    Customer
941194           125  Subscriber
941195           340    Customer
941196           837  Subscriber
941197          1908  Subscriber
941198           815  Subscriber
941199           601    Customer
941200           841  Subscriber
941201           408  Subscriber
941202           818  Subscriber
941203          1911    Customer
941204           614  Subscriber
941205           465  Subscriber
941206           414  Subscriber
941207           473  Subscriber
941208           332  Subscriber
941209           451  Subscriber
941210          1922    Customer
941211           168  Subscriber
941212          1146    Customer
941213           170  Subscriber
941214          1053  Subscriber
941215          1149    Customer
941216          3557    Customer
941217           819  Subscriber
941218           667  Subscriber

[941219 rows x 2 columns]

In [12]:
dfSubTrip = dfUserTrip[dfUserTrip['usertype'].str.contains("Subscriber")]

In [13]:
dfSubTrip

        tripduration    usertype
0               1338  Subscriber
1                290  Subscriber
2                634  Subscriber
3                159  Subscriber
5                690  Subscriber
6                766  Subscriber
7               1160  Subscriber
8                550  Subscriber
9                545  Subscriber
10               752  Subscriber
11              1743  Subscriber
12               964  Subscriber
13               207  Subscriber
14               511  Subscriber
15               635  Subscriber
16               131  Subscriber
17               338  Subscriber
18               923  Subscriber
19               741  Subscriber
20               297  Subscriber
21               430  Subscriber
22              1061  Subscriber
23               643  Subscriber
24               158  Subscriber
26              1108  Subscriber
27               845  Subscriber
28               299  Subscriber
29               363  Subscriber
30               381  Subscriber
31               327  Subscriber
...              ...         ...
941180          1999  Subscriber
941181           278  Subscriber
941182           500  Subscriber
941183           533  Subscriber
941184           312  Subscriber
941185          1615  Subscriber
941186           995  Subscriber
941187          2419  Subscriber
941188          2151  Subscriber
941189          1887  Subscriber
941190           376  Subscriber
941191           379  Subscriber
941194           125  Subscriber
941196           837  Subscriber
941197          1908  Subscriber
941198           815  Subscriber
941200           841  Subscriber
941201           408  Subscriber
941202           818  Subscriber
941204           614  Subscriber
941205           465  Subscriber
941206           414  Subscriber
941207           473  Subscriber
941208           332  Subscriber
941209           451  Subscriber
941211           168  Subscriber
941213           170  Subscriber
941214          1053  Subscriber
941217           819  Subscriber
941218           667  Subscriber

[810838 rows x 2 columns]

In [14]:
dfCustTrip = dfUserTrip[dfUserTrip['usertype'].str.contains("Customer")]

In [15]:
dfCustTrip

        tripduration  usertype
4               1233  Customer
25               160  Customer
36               597  Customer
59               261  Customer
66               708  Customer
69               665  Customer
122             1006  Customer
124              861  Customer
125              807  Customer
132             2874  Customer
134             3427  Customer
161              738  Customer
165              134  Customer
184              246  Customer
238              818  Customer
240              796  Customer
329              633  Customer
401             2210  Customer
580              363  Customer
658              456  Customer
675              402  Customer
759              420  Customer
780              393  Customer
868              606  Customer
950              650  Customer
975              353  Customer
1039            1629  Customer
1048            1457  Customer
1049            1462  Customer
1064            1736  Customer
...              ...       ...
940998           342  Customer
941002           325  Customer
941012           303  Customer
941034          1581  Customer
941048           659  Customer
941057           980  Customer
941058           912  Customer
941078          2002  Customer
941089          1428  Customer
941101          1372  Customer
941102          1370  Customer
941119          1380  Customer
941120          1365  Customer
941126           679  Customer
941141           523  Customer
941149           461  Customer
941152           219  Customer
941161          1950  Customer
941168          1567  Customer
941177           530  Customer
941178           532  Customer
941192           710  Customer
941193          1954  Customer
941195           340  Customer
941199           601  Customer
941203          1911  Customer
941210          1922  Customer
941212          1146  Customer
941215          1149  Customer
941216          3557  Customer

[130381 rows x 2 columns]

In [16]:
arraySubTrip = dfSubTrip.as_matrix(columns = dfSubTrip.columns[0:1]) #learned from StackOverflow

In [17]:
type(arraySubTrip)

numpy.ndarray

In [18]:
arraySubTrip

array([[1338],
       [ 290],
       [ 634],
       ...,
       [1053],
       [ 819],
       [ 667]])

In [19]:
arrayCustTrip = dfCustTrip.as_matrix(columns = dfCustTrip.columns[0:1])

In [20]:
arrayCustTrip

array([[1233],
       [ 160],
       [ 597],
       ...,
       [1146],
       [1149],
       [3557]])

In [21]:
Tavg_sub = arraySubTrip.mean()

In [22]:
Tavg_sub

775.48603790152902

In [23]:
Tavg_cust = arrayCustTrip.mean()

In [24]:
Tavg_cust

1707.5783971590952

In [25]:
#plotting...

In [26]:
tripPlot = {}

In [27]:
tripPlot['subTrip'] = arraySubTrip

In [28]:
tripPlot['custTrip'] = arrayCustTrip

In [ ]:
pl.hist(tripPlot['S'])